body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  text-align: center;
}
.homeContainer {
  /* padding-bottom: 20px; */
}

.homeContainer button {
  padding: 10px;
  border: none;
  background-color: #9ab5d1;
  color: aliceblue;
  font-weight: 600;
  border-radius: 5px;
  width: 45%;
  margin-top: 20px;
  font-size: 1.1em;
}

.bookCover {
  background-size: 50%;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: 2;
  overflow: hidden;
}

/* CSS for the Signup/Login Component */
.SignupOuter,
.LoginOuter {
  background-image: url(./assets/bookshelf2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0;
}

.Login,
.Signup {
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 10px;
  color: rgb(92, 106, 106);
}

.LoginInner {
  margin: 50px 0 0 50px;
}

.SignupInner {
  margin: 30px 0 0 50px;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 80%;
  font-size: 1em;
}

input[type="email"] {
  background: url(./assets/icons8-email-24.png) no-repeat 7px 8px;
  background-size: 20px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  padding-left: 35px;
}

input[type="password"] {
  background: url(./assets/icons8-password-24.png) no-repeat 7px 8px;
  background-size: 20px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  padding-left: 35px;
}

.SignupInner input[type="text"],
.LoginInner input[type="text"] {
  background: url(./assets/icons8-name-24.png) no-repeat 7px 8px;
  background-size: 20px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  padding-left: 35px;
  font-size: 1em;
}

#genre {
  padding: 10px;
  margin: 20px 0;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 80%;
  color: rgb(122, 118, 118);
  font-size: 1em;
}

textarea {
  width: 80%;
  resize: vertical;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  height: 70px;
  font-size: 1.1em;
}

.Signup button,
.Login button,
.AddBookPage button {
  padding: 10px;
  border: none;
  background-color: #9ab5d1;
  color: aliceblue;
  font-weight: 600;
  border-radius: 5px;
  width: 80%;
  margin-top: 20px;
  font-size: 1em;
}

.AddBookPage {
  background-image: url(./assets/book.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  min-height: 100vh;
}

.addBookTitle {
  margin: 0px 15px !important;
  color: rgb(218, 210, 203);
  font-size: 1.5em;
  padding-top: 20px;
}

.bookDetails {
  display: inline-block;
  margin: 20px;
}

.libraryPage {
  margin: 30px 30px 90px 20px;
}
.booksContainer {
  display: inline;
  /* width: 130px; */
  min-height: 267px;
  text-align: center;
}

.libraryHeader {
  background-image: url(../src/assets/library-default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  text-align: center;
  min-height: 200px;
}

.headerText {
  color: rgb(98, 164, 221);
  font-size: 1.4em;
}

/* about page style */
.about {
  background-image: url(./assets/book.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.aboutBox {
  width: 60%;
  background: linear-gradient(80deg, #484849, #b9b9ba);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5;
  color: aliceblue;
}

.nav {
  min-height: 60px;
  background-color: aliceblue;
}

.AddBookPage p {
  color: aliceblue;
  margin-top: 2px;
}

.booksContainer {
  display: grid;
  grid-gap: 25px;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
}

.bookContainer {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0 4px 6px #0000001a;
  transition: box-shadow 0.6s ease-in-out;

  /* Add a media query for smaller screens */
  @media (max-width: 768px) {
    /* Change the number of columns to adjust for smaller screens */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.link-button,
.genre-select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9ab5d1;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin: 10px 10px 30px;
  min-width: 200px;
}

.link-button:hover,
.category-select:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/* CSS for book details page */
.bookDetails {
  display: flex;
}

.bookDetailCover {
  margin-right: 20px;
}

.bookInfo {
  font-size: 1.1em;
  margin-right: 150px;
}

.bookOwner a {
  text-decoration: none;
}

.bookButtons button {
  margin: 10px 5px 10px 30px;
  padding: 10px 20px;
  background-color: #9ab5d1;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.bookButtons button:hover {
  background-color: #0056b3;
}

.bookDetailCover img {
  margin: 15px;
}

/* CSS for the Footer Component */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001055;
  color: aliceblue;
  padding: 20px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  text-decoration: none;
  color: aliceblue;
  font-size: 24px;
}

.copyright {
  order: -1;
}

.rounded-image {
  border-radius: 10px;
}
