body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  /* padding-bottom: 60px; */
  min-height: 100vh; /* Ensures a minimum height of the viewport */
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Home page style */
.homePage {
  background-image: url(.//assets/books_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  text-align: center;
}

.homeContent {
  background-color: rgba(200, 195, 152, 0.9);
  padding: 15px;
  border-radius: 20px;
  font-size: 1.7em;
  text-shadow: 2px 2px 3px #1f1e1e;
  line-height: 1.5;
  color: aliceblue;
}

.homeContainer button {
  padding: 10px;
  border: none;
  background-color: #83866d;
  color: aliceblue;
  font-weight: 400;
  border-radius: 10px;
  width: 45%;
  margin-bottom: 10px;
  font-size: 1em;
}

.bookCover {
  background-size: 50%;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  z-index: 2;
  overflow: hidden;
}

/* CSS for the Signup/Login Component */
.SignupOuter,
.LoginOuter {
  background-image: url(./assets/bookshelf2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.Login,
.Signup {
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 10px;
  color: rgb(92, 106, 106);
}

.SignupInner,
.LoginInner {
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 80%;
  font-size: 1em;
}

.Signup input[type="email"],
.Login input[type="email"] {
  background: url(./assets/icons8-email-24.png) no-repeat 7px 8px;
  background-size: 20px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  padding-left: 35px;
}

input[type="password"] {
  background: url(./assets/icons8-password-24.png) no-repeat 7px 8px;
  background-size: 20px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  padding-left: 35px;
}

.SignupInner input[type="text"],
.LoginInner input[type="text"] {
  background: url(./assets/icons8-name-24.png) no-repeat 7px 8px;
  background-size: 20px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  padding-left: 35px;
  font-size: 1em;
}

#genre {
  padding: 10px;
  margin: 20px 0;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 80%;
  color: rgb(122, 118, 118);
  font-size: 1em;
}

textarea {
  width: 80%;
  resize: vertical;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  height: 70px;
  font-size: 1.1em;
}

.Signup button,
.Login button {
  padding: 10px;
  border: none;
  background-color: #83866d;
  color: aliceblue;
  font-weight: 600;
  border-radius: 5px;
  width: 80%;
  margin-top: 20px;
  font-size: 1em;
}

.BookEditPage button {
  width: 100px;
}

.AddBookPage,
.bookEditPage,
.profileEdit {
  background-image: url(./assets/book.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 90px;
  overflow: scroll;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}
.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group textarea,
.form-group select,
#location,
#genreEdit {
  width: 50%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.addBookTitle {
  margin: 0px 15px !important;
  color: rgb(70, 68, 66) !important;
  font-size: 1.6em;
  padding: 20px 0 20px 0;
}
.editTitle {
  margin: 0px !important;
  color: rgb(34, 33, 32);
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0 20px 0;
}

.bookDetails {
  display: flex;
  padding-top: 80px;
  margin: 40px;
}

.libraryPage {
  margin: 30px 30px 90px 30px;
  min-height: 100%;
  /* height: 100vh; */
}

.libraryHeader {
  background-image: url(../src/assets/library-default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  text-align: center;
  min-height: 200px;
}

.headerText {
  color: aliceblue;
  font-size: 1.7em;
  text-shadow: 2px 2px 4px #000;
}

/* about page style */
.about {
  background-image: url(./assets/book.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.aboutBox {
  width: 60%;
  background: linear-gradient(80deg, #484849, #b9b9ba);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  color: aliceblue;
}

/* Css navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5c0c0;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-button-container {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0 9px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.nav-button:hover {
  background-color: #848383;
}

.userButton {
  margin-right: 10px;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.AddBookPage p {
  color: aliceblue;
  margin-top: 2px;
}

.booksContainer,
.booksShared {
  display: grid;
  grid-gap: 25px;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.bookContainer,
.bookShared {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: aliceblue;
  box-shadow: 0 4px 6px #0000001a;
  transition: box-shadow 0.6s ease-in-out;
  line-height: 1.3em;
}

.link-button,
.genre-select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px 30px;
  max-width: 250px;
}

.link-button:hover,
.category-select:hover {
  background-color: #848383;
}

/* CSS for book details page */
.details-page {
  min-height: 100vh;
}


.bookDetailCover {
  margin-right: 20px;
}

.book-info {
  font-size: 1rem;
  max-width: 60%;
  line-height: 1.3em;
}

.bookOwner a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.bookButtons button {
  margin: 10px 5px 10px 30px;
  padding: 10px 20px;
  background-color: #555;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.bookButtons button:hover {
  background-color: #848383;
}

.bookDetailCover img {
  margin: 15px;
}

.confirmation-text {
  margin: 15px 15px;
  border: 2px solid #777;
  max-width: 400px;
  background-color: #555;
  color: aliceblue;
  text-align: center;
  font-size: 1rem;
  border-radius: 7px;
}

/* CSS for user profile */
.profile-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 70px;
}
.book-details {
  padding: 10px 20px 15px 30px;
  display: grid;
  flex-grow: 4;
}

.user-details {
  padding: 20px;
  background-color: #f6f2f2;
}
.profile-list {
  list-style: none;
  padding: 0;
}
.profile-list li {
  margin: 40px 0 40px 0;
}

.userName {
  font-size: 1.5em;
  text-align: center;
}
.userAvatar {
  border-radius: 10px;
  /* padding-left: 10px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.add-button,
.edit-button,
.challenge {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 160px;
  transition: background-color 0.3s ease;
  text-align: center;
}
.add-button,
.edit-button {
  text-decoration: none;
}
.books-count {
  text-align: center;
  color: #6c676e;
}
.user-avatar {
  padding: 20px;
}

/* CSS for profile edit */
.profileEdit input,
.profileEdit select {
  padding: 7px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  background-color: aliceblue;
  border-radius: 7px;
  width: 300px;
}

.profileEdit label {
  font-weight: bold;
  display: block;
}
.bookEditButton,
.form-button {
  background-color: #e7e7e7;
  border: 2px solid gray;
  color: rgb(13, 13, 13);
  padding: 5px 10px;
  margin-top: 10px;
  min-width: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
}
/* Add margin to create space between buttons */
.bookEditButton + .bookEditButton {
  margin-left: 10px;
}

/* CSS for the Footer Component */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
  color: aliceblue;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  /* height: 60px; */
}

.social-links {
  display: flex;
  gap: 25px;
  margin-right: 20px;
}

.social-links a {
  text-decoration: none;
  color: aliceblue;
  font-size: 27px;
}

.copyright {
  order: -1;
  font-size: 1.1em;
}

.rounded-image {
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .booksContainer,
  .booksShared {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
  }

  .bookContainer,
  .bookShared {
    line-height: 1rem;
  }

  .BookCard a,
  .BookCard p {
    font-size: 0.8rem;
  }
  .homePage {
    max-height: 100vh;
  }
  .nav {
    padding: 15px 5px;
  }

  .nav-left,
  .nav-right {
    display: flex;
  }
  .nav-button {
    font-size: 0.7rem;
    padding: 5px 7px;
    margin: 0 4px;
  }
  .homeContent {
    max-width: 300px;
    font-size: 1rem;
  }
  .headerText {
    font-size: 1.2rem;
  }
  .libraryHeader {
    padding-top: 50px;
  }
  .libraryPage {
    margin: 20px 20px 80px;
  }
  .link-button,
  .genre-select {
    font-size: 0.8rem;
    max-width: 170px;
    margin: 0 5px 15px;
    display: inline;
    padding: 6px;
  }

  .footer {
    height: 50px;
  }
  .copyright {
    font-size: 0.7rem;
  }
  .social-links {
    gap: 15px;
    margin-right: 10px;
  }
  .footer .fab {
    font-size: 1.2rem;
  }

  .aboutContainer {
    margin-top: 4rem;
  }
  .aboutBox {
    font-size: 0.8rem;
    line-height: 0.9rem;
    width: 70%;
  }
  .Login,
  .Signup {
    width: 70%;
    min-height: 430px;
  }

  input {
    font-size: 0.8rem;
  }

  .bookDetails {
    display: flex;
    padding-top: 40px;
    margin: 25px 15px;
  }

  .bookDetailCover img {
    width: 130px;
  }
  .book-info{
    font-size: .8rem;
    line-height: 1rem;
  }

  .confirmation-text{
    margin: 15px auto;
    max-width: 80%;
    font-size: .8rem;
  }
  .bookButtons{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .bookButtons button{
    margin: 0;
    font-size: .8rem;
    padding: 5px 10px;
  }
}
